/* PRESETS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Space+Grotesk:wght@300;400;500&display=swap');


body, html {
    position: relative;
    overflow-x: hidden;
}

.space {
    font-family: 'Space Grotesk', sans-serif !important;
    font-weight: 400;
}

.playfair-heavy {
    font-family: 'Playfair Display', serif !important;
    font-weight: 700;
}

.playfair {
    font-family: 'Playfair Display', serif !important;
    font-weight: 400;
}

/* .white-text {
    color: #f5f5f5 !important;
} */

.orange-text {
    color: #FC814A;
}

.green-text {
    color: #136F63 !important;
}

.black-text {
    color: #212121 !important;
}

.grey-text {
    /* color: #808080; */
    color: dimgray;
}

.grey-background {
    background: white;
    /* background: lightskyblue; */
}

.section-dimensions {
    position: absolute;
    margin: 48px;
    height: calc(100vh - 96px);
    width: calc(100vw - 96px);
}

.turqoise-portfolio {
    background: #DCFEFF;
}

.pink-portfolio {
    background: #EFC9D8;
}

.blue-portfolio {
    background: #C0D2E4;
}

.green-portfolio {
    background: #E2F0CE;
}
/* END OF PRESETS */


/* NAVIGATION */
nav {
    margin: 48px 48px 0 48px;
    padding: 25px 40px 0 40px !important;
    transition: all 0.5s;
}

nav .container-fluid {
    padding-right: 156px;
    padding-left: 156px;
    transition: all linear 0.3s;
}

nav .container-fluid .navbar-brand img {
    height: 38px;
    width: auto;
}

nav .container-fluid .navbar-toggler,
nav .container-fluid .navbar-toggler:active {
    box-shadow: none;
}

nav .navbar-collapse {
    line-height: 70px;
}

nav .container-fluid .collapse li {
    margin-right: 50px;
}

nav .container-fluid .collapse a {
    font-size: 20px;
    text-decoration: none !important;
    color: #f5f5f5;
}

nav .nav-item .nav-link {
    font-weight: 400;
}

nav .nav-item {
    position: relative;
}

nav .nav-item:last-child .nav-link i {
    font-size: 28px;
    line-height: 70px;
}

nav .nav-item .nav-link:hover {
    font-weight: 500 !important;
    color: #ffffff;
    transition: all linear .4s;
}

nav .nav-item .nav-link.normal-link:after {
    content: "";
    position: absolute;
    top: 28px;
    right: -4px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: transparent;
    transition: all linear .4s;
}

nav .nav-item .nav-link.normal-link.active {
    font-weight: 500 !important;
    color: #FC814A !important;
    transition: all linear .4s;
}

nav .nav-item .nav-link.normal-link.active:after,
nav .nav-item .nav-link.normal-link:active:after {
    content: "";
    position: absolute;
    top: 28px;
    right: -4px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #FC814A;
    transition: background linear .4s;
}

nav .navbar-toggler i {
    font-size: 30px;
}
/* END OF NAVIGATION */


/* SCROLL */
.scroll {
    background-color: #ffffff !important;
    transition: all ease-in 0.4s;
}

.scroll-mobile {
    margin-top: 0;
    padding-top: 73px !important;
}

nav.scroll .container-fluid .collapse a {
    color: #212121;
}
/* END OF SCROLL */


/* SIDE NAVIGATION */
.sidenav {
    height: 100vh;
    position: fixed;
    z-index: 10000;
    background-color: white;
    overflow-x: hidden;
    top: 0;
    left: 0;
    width: 0;
    transition: 0.8s;
}

.sidenav .top-content {
    position: relative;
}

.sidenav .navbar-nav {
    position: relative;
}

.sidenav ul li {
    text-decoration: none !important;
    display: block;
    position: relative;
}

.sidenav ul li a {
    color: #212121;
    font-weight: 400;
}

.sidenav .nav-item .nav-link.normal-side-link:hover {
    font-weight: 500 !important;
    color: #FC814A;
    transition: all linear .4s;
}

.sidenav .nav-item .nav-link.normal-side-link:after {
    content: "";
    position: absolute;
    border-radius: 100%;
    background: transparent;
    transition: all linear .4s;
}

.sidenav .nav-item .nav-link.normal-side-link.active {
    font-weight: 500 !important;
    color: #FC814A !important;
    transition: all linear .4s;
}

.sidenav .nav-item .nav-link.normal-side-link.active:after,
.sidenav .nav-item .nav-link.normal-side-link:active:after {
    content: "";
    position: absolute;
    border-radius: 100%;
    background: #FC814A;
    transition: background linear .4s;
}

.sidenav .closebtn,
.sidenav .navbar-brand {
    position: absolute;
    top: 13px;
}

.sidenav .navbar-brand {
    left: 20px;
    margin-right: 50px;
}

.sidenav .navbar-brand img {
    height: 28px;
}

.sidenav .closebtn {
    color: #212121;
}
/* END OF SIDE NAVIGATION */


/* DOCSLIDER */
.docSlider-pager {
    background: transparent;
}

.docSlider-button {
    /* background-color: #333;
    opacity: .25; */
}
/* END OF DOCSLIDER */


/* COVER */
#cover {
    height: 100vh !important;
    background: #ffffff;
    position: relative;
}

.cover-content .col-xxl-6:first-child {
    padding-left: 40px;
    padding-right: 0;
    padding-top: 48px;
    padding-bottom: 48px;
}

.cover-content .col-xxl-6 .left-content {
    padding-left: 156px;
    padding-top: 90px;
    padding-right: 20px;
}

.cover-content .col-xxl-6 .left-content p.hello {
    font-size: 23px;
}

.cover-content .col-xxl-6 .left-content h1 {
    font-size: 55px;
    line-height: 75px;
    margin-bottom: 0;
}

.cover-content .col-xxl-6 .left-content a.pronunciation {
    font-size: 20px;
    line-height: 50px;
    vertical-align: middle !important;
    text-decoration: none;
}

.cover-content .col-xxl-6 .left-content a.pronunciation:hover {
    color: #909090;
}

.cover-content .col-xxl-6 .left-content a.pronunciation i {
    font-size: 30px;
    padding-right: 15px;
    font-weight: 1;
}

.cover-content .col-xxl-6 .left-content h2 {
    font-size: 23px;
    line-height: 1.7;
    padding-top: 15px;
}

.cover-content .col-xxl-6 .left-content a.btn {
    border-radius: 0;
    border: none;
    position: relative;
    text-align: center !important;
    background: transparent;
}

.cover-content .col-xxl-6 .left-content a.btn::before,
.cover-content .col-xxl-6 .left-content a.btn::after {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    transition: all linear .4s;
}

.cover-content .col-xxl-6 .left-content a.btn::before {
    left: 0;
    bottom: 0;
    border-left:2px solid #136F63;
    border-bottom:2px solid #136F63;
}

.cover-content .col-xxl-6 .left-content a.btn::after {
    right: 0;
    top: 0;
    border-right:2px solid #136F63;
    border-top:2px solid #136F63;
}

.cover-content .col-xxl-6 .left-content a.btn:active,
.cover-content .col-xxl-6 .left-content a.btn:active, 
.cover-content .col-xxl-6 .left-content a.btn:hover,
.cover-content .col-xxl-6 .left-content a.btn:hover {
    box-shadow: none;
    outline: none;
}

.cover-content .col-xxl-6 .left-content a.btn:active::before,
.cover-content .col-xxl-6 .left-content a.btn:active::after, 
.cover-content .col-xxl-6 .left-content a.btn:hover::before,
.cover-content .col-xxl-6 .left-content a.btn:hover::after {
    text-decoration: none;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    color: #136F63 !important;
    transition: all linear .4s;
}

.cover-content .col-xxl-6:last-child {
    width: 50%;
    height: 100%;
    background: url('images/green-background.svg');
    background-repeat: no-repeat;
    background-size: cover !important;
    padding-left: 120px;
    padding-right: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.cover-content .col-xxl-6:last-child img {
    height: 70%;
    width: auto;
    margin-top: 80px;
} 
/* END OF COVER */


/* WORK */
#work.work, .work {
    height: 100vh !important;
    background: #ffffff;
    position: relative;
}

.work-content .col-xxl-6:first-child,
.even .work-content .col-xxl-6:last-child {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 130px;
    padding-bottom: 48px;
}

.work-content .col-xxl-6:last-child {
    padding-left: 0;
    /* padding-right: 40px; */
    padding-right: 196px;
    padding-top: 130px;
    padding-bottom: 48px;
}

.even .work-content .col-xxl-6:first-child {
    padding-right: 0;
    /* padding-right: 40px; */
    padding-left: 196px;
}

.even .work-content .col-xxl-6:first-child .container-fluid {
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
}

.work-content .col-xxl-6:first-child .container-fluid {
    padding-left: 200px;
    padding-right: 30px;
}

.even .work-content .col-xxl-6:last-child .container-fluid {
    padding-right: 200px;
    padding-left: 30px;
}

.work-content .title,
.work-content p {
    line-height: 1.6;
}

.work-content .title {
    font-size: 35px;
}

.work-content p {
    font-size: 21px;
    padding-left: 45px;
    font-weight: 300;
}

.even .work-content p {
    padding-right: 45px;
    padding-left: 0;
}

.work-content .col-xxl-6 a.btn {
    border-radius: 0;
    text-align: center !important;
    background: transparent;
    border-bottom: 2px solid #136F63;
    border-top-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
}

.work-content .col-xxl-6 a.btn:active,
.work-content .col-xxl-6 a.btn:active, 
.work-content .col-xxl-6 a.btn:hover,
.work-content .col-xxl-6 a.btn:hover {
    box-shadow: none !important;
    outline: none !important;
    border: 2px solid #136F63;
    transition: all linear .4s;
}

.work-content .col-xxl-6:last-child .container-fluid,
.even .work-content .col-xxl-6:first-child .container-fluid {
    width: 75%;
    height: 65%;
}

.even .work-content .col-xxl-6:last-child .container-fluid {
    width: auto;
    height: auto;
}

.work-content .header-img img {
    width: 95%;
    height: auto;
}
/* END OF WORK */


/*MEDIA QUERIES*/
/* Larger than normal laptop sizes */
@media only screen and (max-width: 1550px) and (min-width: 1401px){

    /* COMMON */
    .section-dimensions {
        margin: 50px;
        height: calc(100vh - 100px);
        width: calc(100vw - 100px);
    }
    /* END OF COMMON */

    /* NAVIGATION */
    nav {
        margin: 50px 50px 0 50px;
        padding: 50px 50px 0 50px !important;
    }

    nav .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }

    nav .container-fluid .navbar-brand img {
        height: 35px;
    }

    nav .navbar-collapse {
        line-height: 90px;
    }

    nav .container-fluid .collapse li {
        margin-left: 50px;
        margin-right: 0;
    }

    nav .container-fluid .collapse a {
        font-size: 20px;
    }

    nav .nav-item .nav-link.normal-link:after {
        top: 28px;
        right: -4px;
        width: 8px;
        height: 8px;
    }

    nav .nav-item .nav-link.normal-link.active:after,
    nav .nav-item .nav-link.normal-link:active:after {
        top: 28px;
        right: -4px;
        width: 8px;
        height: 8px;
    }

    nav .navbar-toggler {
        padding: none;
    }

    nav .navbar-toggler i {
        font-size: 32px;
    }
    /* END OF NAVIGATION */

    /* SIDE NAVIGATION */
    .sidenav .top-content {
        margin: 80px 130px 30px 130px;
    }

    .sidenav .navbar-nav {
        padding-top: 20px;
    }

    .sidenav ul li {
        padding: 20px 0;
        font-size: 25px;
    }

    .sidenav .nav-item .nav-link.normal-side-link:after {
        top: 20px;
        right: 43%;
        width: 8px;
        height: 8px;
    }

    .sidenav .nav-item .nav-link.normal-side-link.active:after,
    .sidenav .nav-item .nav-link.normal-side-link:active:after {
        top: 20px;
        right: 43%;
        width: 8px;
        height: 8px;
    }

    .sidenav .closebtn,
    .sidenav .navbar-brand {
        top: 13px;
    }

    .sidenav .navbar-brand {
        left: 20px;
        margin-right: 50px;
    }

    .sidenav .navbar-brand img {
        height: 32px;
    }

    .sidenav .closebtn {
        right: 15px;
        font-size: 35px;
        margin-left: 50px;
    }
    /* END OF SIDE NAVIGATION */

    /* COVER */
    #cover {
        height: 100vh !important;
    }

    /* #cover .cover-content {
        margin: 50px;
        height: calc(100vh - 100px);
        width: calc(100vw - 100px);
    } */

    .cover-content .col-xxl-6:first-child {
        padding: 50px;
    }

    .cover-content .col-xxl-6 .left-content {
        padding-left: 0;
        padding-top: 40px;
        padding-right: 0;
    }

    .cover-content .col-xxl-6 .left-content p.hello {
        font-size: 22px;
        margin-bottom: 25px;
    }

    .cover-content .col-xxl-6 .left-content h1 {
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 15px;
    }

    .cover-content .col-xxl-6 .left-content a.pronunciation {
        font-size: 22px;
        line-height: 45px;
    }

    .cover-content .col-xxl-6 .left-content a.pronunciation i {
        font-size: 30px;
        padding-right: 10px;
    }

    .cover-content .col-xxl-6 .left-content h2 {
        font-size: 25px;
    }

    .cover-content .col-xxl-6 .left-content a.btn {
        font-size: 22px !important;
    }

    .cover-content .col-xxl-6 .left-content a.btn::before,
    .cover-content .col-xxl-6 .left-content a.btn::after {
        width: 20px;
        height: 20px;
    }

    .cover-content .col-xxl-6:last-child {
        width: 50%;
        height: 100%;
        padding-left: 80px;
        padding-right: 40px;
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .cover-content .col-xxl-6:last-child img {
        height: 60%;
        margin-top: 30px;
    } 
    /* END OF COVER */

}

@media only screen and (max-width: 1400px) and (min-width: 1200px){

    /* COMMON */
    .section-dimensions {
        margin: 40px;
        height: calc(100vh - 80px);
        width: calc(100vw - 80px);
    }
    /* END OF COMMON */

    /* NAVIGATION */
    nav {
        margin: 40px 40px 0 40px;
        padding: 40px 40px 0 40px !important;
    }

    nav .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }

    nav .container-fluid .navbar-brand img {
        height: 30px;
    }

    nav .navbar-collapse {
        line-height: 90px;
    }

    nav .container-fluid .collapse li {
        margin-left: 40px;
        margin-right: 0;
    }

    nav .container-fluid .collapse a {
        font-size: 20px;
    }

    nav .nav-item .nav-link.normal-link:after {
        top: 28px;
        right: -4px;
        width: 8px;
        height: 8px;
    }

    nav .nav-item .nav-link.normal-link.active:after,
    nav .nav-item .nav-link.normal-link:active:after {
        top: 28px;
        right: -4px;
        width: 8px;
        height: 8px;
    }

    nav .navbar-toggler {
        padding: none;
    }

    nav .navbar-toggler i {
        font-size: 32px;
    }
    /* END OF NAVIGATION */

    /* SIDE NAVIGATION */
    .sidenav .top-content {
        margin: 80px 130px 30px 130px;
    }

    .sidenav .navbar-nav {
        padding-top: 20px;
    }

    .sidenav ul li {
        padding: 20px 0;
        font-size: 25px;
    }

    .sidenav .nav-item .nav-link.normal-side-link:after {
        top: 20px;
        right: 43%;
        width: 8px;
        height: 8px;
    }

    .sidenav .nav-item .nav-link.normal-side-link.active:after,
    .sidenav .nav-item .nav-link.normal-side-link:active:after {
        top: 20px;
        right: 43%;
        width: 8px;
        height: 8px;
    }

    .sidenav .closebtn,
    .sidenav .navbar-brand {
        top: 13px;
    }

    .sidenav .navbar-brand {
        left: 20px;
        margin-right: 50px;
    }

    .sidenav .navbar-brand img {
        height: 32px;
    }

    .sidenav .closebtn {
        right: 15px;
        font-size: 35px;
        margin-left: 50px;
    }
    /* END OF SIDE NAVIGATION */

    /* COVER */
    #cover {
        height: 100vh !important;
    }

    /* #cover .cover-content {
        margin: 40px;
        height: calc(100vh - 80px);
        width: calc(100vw - 80px);
    } */

    .cover-content .col-xxl-6:first-child {
        padding: 40px;
    }

    .cover-content .col-xxl-6 .left-content {
        padding-left: 0;
        padding-top: 40px;
        padding-right: 0;
    }

    .cover-content .col-xxl-6 .left-content p.hello {
        font-size: 22px;
        margin-bottom: 25px;
    }

    .cover-content .col-xxl-6 .left-content h1 {
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 15px;
    }

    .cover-content .col-xxl-6 .left-content a.pronunciation {
        font-size: 22px;
        line-height: 45px;
    }

    .cover-content .col-xxl-6 .left-content a.pronunciation i {
        font-size: 30px;
        padding-right: 10px;
    }

    .cover-content .col-xxl-6 .left-content h2 {
        font-size: 25px;
    }

    .cover-content .col-xxl-6 .left-content a.btn {
        font-size: 22px !important;
    }

    .cover-content .col-xxl-6 .left-content a.btn::before,
    .cover-content .col-xxl-6 .left-content a.btn::after {
        width: 20px;
        height: 20px;
    }

    .cover-content .col-xxl-6:last-child {
        width: 50%;
        height: 100%;
        background: url('images/green-background.svg');
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .cover-content .col-xxl-6:last-child img {
        height: 60%;
        margin-top: 30px;
    } 
    /* END OF COVER */

}

@media only screen and (max-width: 1199px) and (min-width: 992px){

    /* COMMON */
    .section-dimensions {
        margin: 70px;
        height: calc(100vh - 140px);
        width: calc(100vw - 140px);
    }
    /* END OF COMMON */

    /* NAVIGATION */
    nav {
        margin: 70px 70px 0 70px;
        padding: 70px 70px 0 70px !important;
    }

    nav .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }

    nav .container-fluid .navbar-brand img {
        height: 37px;
    }

    nav .navbar-collapse {
        line-height: normal;
    }

    nav .container-fluid .collapse li {
        margin-right: 50px;
    }

    nav .container-fluid .collapse a {
        font-size: 20px;
    }

    nav .nav-item .nav-link.normal-link:after {
        top: 28px;
        right: -4px;
        width: 8px;
        height: 8px;
    }

    nav .nav-item .nav-link.normal-link.active:after,
    nav .nav-item .nav-link.normal-link:active:after {
        top: 28px;
        right: -4px;
        width: 8px;
        height: 8px;
    }

    nav .navbar-toggler {
        padding: none;
    }

    nav .navbar-toggler i {
        font-size: 37px;
    }
    /* END OF NAVIGATION */

    /* SIDE NAVIGATION */
    .sidenav .top-content {
        margin: 80px 130px 30px 130px;
    }

    .sidenav .navbar-nav {
        padding-top: 20px;
    }

    .sidenav ul li {
        padding: 20px 0;
        font-size: 25px;
    }

    .sidenav .nav-item .nav-link.normal-side-link:after {
        top: 20px;
        right: 43%;
        width: 8px;
        height: 8px;
    }

    .sidenav .nav-item .nav-link.normal-side-link.active:after,
    .sidenav .nav-item .nav-link.normal-side-link:active:after {
        top: 20px;
        right: 43%;
        width: 8px;
        height: 8px;
    }

    .sidenav .closebtn,
    .sidenav .navbar-brand {
        top: 13px;
    }

    .sidenav .navbar-brand {
        left: 20px;
        margin-right: 50px;
    }

    .sidenav .navbar-brand img {
        height: 37px;
    }

    .sidenav .closebtn {
        right: 15px;
        font-size: 37px;
        margin-left: 50px;
    }
    /* END OF SIDE NAVIGATION */

    /* DOCSLIDER */
    .docSlider-pager {
        right: -45px;
    }

    .docSlider-button {
        height: 20px;
        width: 20px;
        margin-bottom: 15px;
    }
    /* END OF DOCSLIDER */

    /* COVER */
    #cover {
        height: 100vh !important;
    }

    /* #cover .cover-content {
        margin: 70px;
        height: calc(100vh - 140px);
        width: calc(100vw - 140px);
    } */

    .cover-content .col-xxl-6:first-child {
        padding: 70px;
    }

    .cover-content .col-xxl-6 .left-content {
        padding-left: 0;
        padding-top: 60px;
        padding-right: 0;
    }

    .cover-content .col-xxl-6 .left-content p.hello {
        font-size: 27px;
        margin-bottom: 25px;
    }

    .cover-content .col-xxl-6 .left-content h1 {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 15px;
    }

    .cover-content .col-xxl-6 .left-content a.pronunciation {
        font-size: 27px;
        line-height: 50px;
    }

    .cover-content .col-xxl-6 .left-content a.pronunciation i {
        font-size: 32px;
        padding-right: 12px;
    }

    .cover-content .col-xxl-6 .left-content h2 {
        font-size: 27px;
    }

    .cover-content .col-xxl-6 .left-content a.btn {
        font-size: 27px !important;
    }

    .cover-content .col-xxl-6 .left-content a.btn::before,
    .cover-content .col-xxl-6 .left-content a.btn::after {
        width: 25px;
        height: 25px;
    }
    /* END OF COVER */

}

/* COL M stops here */
@media only screen and (max-width: 991px) and (min-width: 959px) {

    /* COMMON */
    .section-dimensions {
        margin: 70px;
        height: calc(100vh - 140px);
        width: calc(100vw - 140px);
    }
    /* END OF COMMON */

    /* NAVIGATION */
    nav {
        margin: 70px 70px 0 70px;
        padding: 70px 70px 0 70px !important;
    }

    nav .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }

    nav .container-fluid .navbar-brand img {
        height: 37px;
    }

    nav .navbar-collapse {
        line-height: normal;
    }

    nav .container-fluid .collapse li {
        margin-right: 50px;
    }

    nav .container-fluid .collapse a {
        font-size: 20px;
    }

    nav .nav-item .nav-link.normal-link:after {
        top: 28px;
        right: -4px;
        width: 8px;
        height: 8px;
    }

    nav .nav-item .nav-link.normal-link.active:after,
    nav .nav-item .nav-link.normal-link:active:after {
        top: 28px;
        right: -4px;
        width: 8px;
        height: 8px;
    }

    nav .navbar-toggler {
        padding: none;
    }

    nav .navbar-toggler i {
        font-size: 37px;
    }
    /* END OF NAVIGATION */

    /* SIDE NAVIGATION */
    .sidenav .top-content {
        margin: 80px 130px 30px 130px;
    }

    .sidenav .navbar-nav {
        padding-top: 20px;
    }

    .sidenav ul li {
        padding: 20px 0;
        font-size: 25px;
    }

    .sidenav .nav-item .nav-link.normal-side-link:after {
        top: 20px;
        right: 43%;
        width: 8px;
        height: 8px;
    }

    .sidenav .nav-item .nav-link.normal-side-link.active:after,
    .sidenav .nav-item .nav-link.normal-side-link:active:after {
        top: 20px;
        right: 43%;
        width: 8px;
        height: 8px;
    }

    .sidenav .closebtn,
    .sidenav .navbar-brand {
        top: 13px;
    }

    .sidenav .navbar-brand {
        left: 20px;
        margin-right: 50px;
    }

    .sidenav .navbar-brand img {
        height: 37px;
    }

    .sidenav .closebtn {
        right: 15px;
        font-size: 37px;
        margin-left: 50px;
    }
    /* END OF SIDE NAVIGATION */

    /* DOCSLIDER */
    .docSlider-pager {
        right: -45px;
    }

    .docSlider-button {
        height: 18px;
        width: 18px;
        margin-bottom: 10px;
    }
    /* END OF DOCSLIDER */

    /* COVER */
    #cover {
        height: 100vh !important;
    }

    /* #cover .cover-content {
        margin: 70px;
        height: calc(100vh - 140px);
        width: calc(100vw - 140px);
    } */

    .cover-content .col-xxl-6:first-child {
        padding: 70px;
    }

    .cover-content .col-xxl-6 .left-content {
        padding-left: 0;
        padding-top: 60px;
        padding-right: 0;
    }

    .cover-content .col-xxl-6 .left-content p.hello {
        font-size: 27px;
        margin-bottom: 25px;
    }

    .cover-content .col-xxl-6 .left-content h1 {
        font-size: 65px;
        line-height: 1.2;
        margin-bottom: 15px;
    }

    .cover-content .col-xxl-6 .left-content a.pronunciation {
        font-size: 27px;
        line-height: 50px;
    }

    .cover-content .col-xxl-6 .left-content a.pronunciation i {
        font-size: 32px;
        padding-right: 12px;
    }

    .cover-content .col-xxl-6 .left-content h2 {
        font-size: 27px;
    }

    .cover-content .col-xxl-6 .left-content a.btn {
        font-size: 25px !important;
    }

    .cover-content .col-xxl-6 .left-content a.btn::before,
    .cover-content .col-xxl-6 .left-content a.btn::after {
        width: 25px;
        height: 25px;
    }
    /* END OF COVER */

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (min-width: 768px) and (max-width: 958px) {

    /* COMMON */
    .section-dimensions {
        margin: 50px;
        height: calc(100vh - 100px);
        width: calc(100vw - 100px);
    }
    /* END OF COMMON */

    /* NAVIGATION */
    nav {
        margin: 50px 50px 0 50px;
        padding: 50px 50px 0 50px !important;
    }

    nav .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }

    nav .container-fluid .navbar-brand img {
        height: 35px;
    }

    nav .navbar-collapse {
        line-height: normal;
    }

    nav .container-fluid .collapse li {
        margin-right: 50px;
    }

    nav .container-fluid .collapse a {
        font-size: 20px;
    }

    nav .nav-item .nav-link.normal-link:after {
        top: 28px;
        right: -4px;
        width: 8px;
        height: 8px;
    }

    nav .nav-item .nav-link.normal-link.active:after,
    nav .nav-item .nav-link.normal-link:active:after {
        top: 28px;
        right: -4px;
        width: 8px;
        height: 8px;
    }

    nav .navbar-toggler {
        padding: 0;
    }

    nav .navbar-toggler i {
        font-size: 30px;
    }
    /* END OF NAVIGATION */

    /* SIDE NAVIGATION */
    .sidenav .top-content {
        margin: 70px 100px 30px 100px;
    }

    .sidenav .navbar-nav {
        padding-top: 20px;
    }

    .sidenav ul li {
        padding: 20px 0;
        font-size: 25px;
    }

    .sidenav .nav-item .nav-link.normal-side-link:after {
        top: 20px;
        right: 42%;
        width: 8px;
        height: 8px;
    }

    .sidenav .nav-item .nav-link.normal-side-link.active:after,
    .sidenav .nav-item .nav-link.normal-side-link:active:after {
        top: 20px;
        right: 42%;
        width: 8px;
        height: 8px;
    }

    .sidenav .closebtn,
    .sidenav .navbar-brand {
        top: 13px;
    }

    .sidenav .navbar-brand {
        left: 20px;
        margin-right: 50px;
    }

    .sidenav .navbar-brand img {
        height: 32px;
    }

    .sidenav .closebtn {
        right: 15px;
        font-size: 30px;
        margin-left: 50px;
    }
    /* END OF SIDE NAVIGATION */

    /* DOCSLIDER */
    .docSlider-pager {
        right: -20px;
    }

    .docSlider-button {
        height: 15px;
        width: 15px;
    }
    /* END OF DOCSLIDER */

    /* COVER */
    #cover {
        height: 100vh !important;
    }

    #cover .cover-content {
        margin: 50px;
        height: calc(100vh - 100px);
        width: calc(100vw - 100px);
    }

    .cover-content .col-xxl-6:first-child {
        padding: 50px;
    }

    .cover-content .col-xxl-6 .left-content {
        padding-left: 0;
        padding-top: 60px;
        padding-right: 0;
    }

    .cover-content .col-xxl-6 .left-content p.hello {
        font-size: 28px;
        margin-bottom: 5px;
    }

    .cover-content .col-xxl-6 .left-content h1 {
        font-size: 60px;
        line-height: 1.5;
        margin-bottom: 15px;
    }

    .cover-content .col-xxl-6 .left-content a.pronunciation {
        font-size: 25px;
    }

    .cover-content .col-xxl-6 .left-content a.pronunciation i {
        font-size: 35px;
        padding-right: 10px;
    }

    .cover-content .col-xxl-6 .left-content h2 {
        font-size: 28px;
    }

    .cover-content .col-xxl-6 .left-content a.btn {
        font-size: 25px !important;
    }

    .cover-content .col-xxl-6 .left-content a.btn::before,
    .cover-content .col-xxl-6 .left-content a.btn::after {
        width: 25px;
        height: 25px;
    }
    /* END OF COVER */

    /* WORK */
    .work-content .col-xxl-6:first-child {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 150px;
        padding-bottom: 50px;
    }

    .work-content .col-xxl-6:last-child {
        padding-left: 0;
        padding-top: 10px;
        padding-right: 0;
    }

    .work-content .col-xxl-6:first-child .container-fluid {
        padding: 0 !important;
    }

    .work-content .title,
    .work-content p {
        line-height: 1.5;
        text-align: justify;
    }

    .work-content .title {
        font-size: 35px;
        line-height: 1.5;
        text-align: justify;
    }

    .work-content p,
    .work-content .col-xxl-6.order-xxl-1 p {
        font-size: 25px;
        padding: 10px 0 0 0;
        font-weight: 300;
        line-height: 1.7;
    }

    .work-content .col-xxl-6 a.btn {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .work-content .col-xxl-6:last-child .container-fluid {
        padding: 0 10px;
        /* margin: 0 50px; */
        width: 90%;
        height: auto;
    }

    .work-content .header-img img {
        width: 94%;
        height: auto;
    }
    /* END OF WORK */

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

    /* COMMON */
    .section-dimensions {
        margin: 15px;
        height: calc(100vh - 30px);
        width: calc(100vw - 30px);
    }
    /* END OF COMMON */

    /* NAVIGATION */
    .scroll-mobile {
        margin-top: 0;
        padding-top: 50px !important;
    }

    nav {
        margin: 0 20px 0 20px;
        padding: 40px 30px 10px 30px !important;
        background: white;
    }

    nav .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }

    nav .container-fluid .navbar-brand img {
        height: 28px;
    }

    nav .navbar-collapse {
        line-height: normal;
    }

    nav .container-fluid .collapse li {
        margin-right: 50px;
    }

    nav .container-fluid .collapse a {
        font-size: 20px;
    }

    nav .nav-item .nav-link.normal-link:after {
        top: 28px;
        right: -4px;
        width: 8px;
        height: 8px;
    }

    nav .nav-item .nav-link.normal-link.active:after,
    nav .nav-item .nav-link.normal-link:active:after {
        top: 28px;
        right: -4px;
        width: 8px;
        height: 8px;
    }

    nav .navbar-toggler {
        padding: none;
    }

    nav .navbar-toggler i {
        font-size: 25px;
    }
    /* END OF NAVIGATION */

    /* SIDE NAVIGATION */
    .sidenav .top-content {
        margin: 30px 20px;
    }

    .sidenav .navbar-nav {
        padding-top: 20px;
    }

    .sidenav ul li {
        padding: 10px 0;
        font-size: 20px;
    }

    .sidenav .nav-item .nav-link.normal-side-link:after {
        top: 20px;
        right: 38%;
        width: 8px;
        height: 8px;
    }

    .sidenav .nav-item .nav-link.normal-side-link.active:after,
    .sidenav .nav-item .nav-link.normal-side-link:active:after {
        top: 20px;
        right: 38%;
        width: 8px;
        height: 8px;
    }

    .sidenav .closebtn,
    .sidenav .navbar-brand {
        top: 13px;
    }

    .sidenav .navbar-brand {
        left: 20px;
        margin-right: 50px;
    }

    .sidenav .navbar-brand img {
        height: 28px;
    }

    .sidenav .closebtn {
        right: 15px;
        font-size: 30px;
        margin-left: 50px;
    }
    /* END OF SIDE NAVIGATION */

    /* COVER */
    #cover {
        height: 100vh !important;
    }

    .cover-content .col-xxl-6:first-child {
        padding: 30px;
    }

    .cover-content .col-xxl-6 .left-content {
        padding-left: 0;
        padding-top: 60px;
        padding-right: 0;
    }

    .cover-content .col-xxl-6 .left-content p.hello {
        font-size: 19px;
        margin-bottom: 5px;
    }

    .cover-content .col-xxl-6 .left-content h1 {
        font-size: 40px;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    .cover-content .col-xxl-6 .left-content a.pronunciation {
        font-size: 18px;
        line-height: 40px;
    }

    .cover-content .col-xxl-6 .left-content a.pronunciation i {
        font-size: 30px;
        padding-right: 10px;
    }

    .cover-content .col-xxl-6 .left-content h2 {
        font-size: 18px;
        line-height: 1.8;
    }

    .cover-content .col-xxl-6 .left-content a.btn {
        font-size: 17px !important;
    }

    .cover-content .col-xxl-6 .left-content a.btn::before,
    .cover-content .col-xxl-6 .left-content a.btn::after {
        width: 18px;
        height: 18px;
    }
    /* END OF COVER */

    /* DOCSLIDER */
    .docSlider-pager {
        right: -15px;
    }

    .docSlider-button {
        height: 13px;
        width: 13px;
    }
    /* END OF DOCSLIDER */

    /* WORK */
    .work {
        height: 100% !important;
    }

    .work-content.section-dimensions {
        min-height: calc(100% - 30px) !important;
        min-width: calc(100% - 30px) !important;
    }

    .work-content .col-xxl-6:first-child {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 100px;
        padding-bottom: 30px;
    }

    .work-content .col-xxl-6:last-child {
        padding-left: 0;
        padding-top: 10px;
        padding-right: 0;
    }

    .work-content .col-xxl-6:first-child .container-fluid {
        padding: 0 !important;
    }

    .work-content .title,
    .work-content p {
        line-height: 1.5;
        text-align: justify;
    }

    .work-content .title {
        font-size: 27px;
        line-height: 1.4;
        text-align: justify;
    }

    .work-content p,
    .work-content .col-xxl-6.order-xxl-1 p {
        font-size: 18px;
        padding: 10px 0 0 0;
        font-weight: 300;
        line-height: 1.7;
    }

    .work-content .col-xxl-6 a.btn {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .work-content .col-xxl-6:last-child .container-fluid {
        padding: 0 10px;
        width: 90%;
        height: 120%;
    }

    .work-content .header-img img {
        width: 90%;
        height: auto;
    }
    /* END OF WORK */

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 320px) and (max-width: 479px) {

    /* COMMON */
    .section-dimensions {
        margin: 20px;
        height: calc(100vh - 40px);
        width: calc(100vw - 40px);
    }
    /* END OF COMMON */

    /* NAVIGATION */
    nav {
        margin: 0 15px 0 15px;
        padding: 35px 20px 10px 20px !important;
        background: white;
    }

    nav .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }

    nav .container-fluid .navbar-brand img {
        height: 25px;
    }

    nav .navbar-collapse {
        line-height: normal;
    }

    nav .container-fluid .collapse li {
        margin-right: 50px;
    }

    nav .container-fluid .collapse a {
        font-size: 20px;
    }

    nav .nav-item .nav-link.normal-link:after {
        top: 28px;
        right: -4px;
        width: 8px;
        height: 8px;
    }

    nav .nav-item .nav-link.normal-link.active:after,
    nav .nav-item .nav-link.normal-link:active:after {
        top: 28px;
        right: -4px;
        width: 8px;
        height: 8px;
    }

    nav .navbar-toggler {
        padding: none;
    }

    nav .navbar-toggler i {
        font-size: 25px;
    }
    /* END OF NAVIGATION */

    /* SIDE NAVIGATION */
    .sidenav .top-content {
        margin: 30px 20px;
    }

    .sidenav .navbar-nav {
        padding-top: 20px;
    }

    .sidenav ul li {
        padding: 10px 0;
        font-size: 20px;
    }

    .sidenav .nav-item .nav-link.normal-side-link:after {
        top: 20px;
        right: 32%;
        width: 8px;
        height: 8px;
    }

    .sidenav .nav-item .nav-link.normal-side-link.active:after,
    .sidenav .nav-item .nav-link.normal-side-link:active:after {
        top: 20px;
        right: 32%;
        width: 8px;
        height: 8px;
    }

    .sidenav .closebtn,
    .sidenav .navbar-brand {
        top: 13px;
    }

    .sidenav .navbar-brand {
        left: 20px;
        margin-right: 50px;
    }

    .sidenav .navbar-brand img {
        height: 28px;
    }

    .sidenav .closebtn {
        right: 15px;
        font-size: 30px;
        margin-left: 50px;
    }
    /* END OF SIDE NAVIGATION */

    /* DOCSLIDER */
    .docSlider-pager {
        right: -15px;
    }

    .docSlider-button {
        height: 12px;
        width: 12px;
    }
    /* END OF DOCSLIDER */

    /* COVER */
    #cover {
        height: 100vh !important;
    }

    .cover-content .col-xxl-6:first-child {
        padding: 20px;
    }

    .cover-content .col-xxl-6 .left-content {
        padding-left: 0;
        padding-top: 60px;
        padding-right: 0;
    }

    .cover-content .col-xxl-6 .left-content p.hello {
        font-size: 17px;
        margin-bottom: 0;
    }

    .cover-content .col-xxl-6 .left-content h1 {
        font-size: 29px;
        line-height: 1.6;
        margin-bottom: 10px;
    }

    .cover-content .col-xxl-6 .left-content a.pronunciation {
        font-size: 16px;
        line-height: normal;
    }

    .cover-content .col-xxl-6 .left-content a.pronunciation i {
        font-size: 28px;
        padding-right: 10px;
    }

    .cover-content .col-xxl-6 .left-content h2 {
        font-size: 17px;
        line-height: 1.6;
        padding-top: 15px;
    }

    .cover-content .col-xxl-6 .left-content a.btn {
        font-size: 16px !important;
        padding: 10px;
    }

    .cover-content .col-xxl-6 .left-content a.btn::before,
    .cover-content .col-xxl-6 .left-content a.btn::after {
        width: 15px;
        height: 15px;
    }
    /* END OF COVER */

    /* WORK */
    .work-content .col-xxl-6:first-child {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 85px;
        padding-bottom: 20px;
    }

    .work-content .col-xxl-6:last-child {
        padding-left: 0;
        padding-top: 10px;
        padding-right: 0;
    }

    .work-content .col-xxl-6:first-child .container-fluid {
        padding: 0 !important;
    }

    .work-content .title,
    .work-content p {
        line-height: 1.5;
        text-align: justify;
    }

    .work-content .title {
        font-size: 23px;
        line-height: 1.4;
        text-align: justify;
    }

    .work-content p,
    .work-content .col-xxl-6.order-xxl-1 p {
        font-size: 17px;
        padding: 0;
        font-weight: 300;
    }

    .work-content .col-xxl-6 a.btn {
        font-size: 16px;
    }

    .work-content .col-xxl-6:last-child .container-fluid {
        padding: 0 10px;
        width: 100%;
        height: 250px;
    }

    .work-content .header-img img {
        width: 90%;
        height: auto;
    }
    /* END OF WORK */

}

/* Mobile Portrait Size iphone 5 */
@media only screen and (max-width: 319px) { 

    /* COMMON */
    /* .section-dimensions {
        margin: 15px;
        height: calc(100vh - 30px);
        width: calc(100vw - 30px);
    } */
    /* END OF COMMON */
    
    /* NAVIGATION */
    nav {
        margin: 0 15px 0 15px;
        padding: 35px 20px 10px 20px !important;
        background: white;
    }

    nav .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }

    nav .container-fluid .navbar-brand img {
        height: 25px;
    }

    nav .navbar-collapse {
        line-height: normal;
    }

    nav .container-fluid .collapse li {
        margin-right: 50px;
    }

    nav .container-fluid .collapse a {
        font-size: 20px;
    }

    nav .nav-item .nav-link.normal-link:after {
        top: 28px;
        right: -4px;
        width: 8px;
        height: 8px;
    }

    nav .nav-item .nav-link.normal-link.active:after,
    nav .nav-item .nav-link.normal-link:active:after {
        top: 28px;
        right: -4px;
        width: 8px;
        height: 8px;
    }

    nav .navbar-toggler {
        padding: none;
    }

    nav .navbar-toggler i {
        font-size: 25px;
    }
    /* END OF NAVIGATION */

    /* SIDE NAVIGATION */
    .sidenav .top-content {
        margin: 30px 20px;
    }

    .sidenav .navbar-nav {
        padding-top: 20px;
    }

    .sidenav ul li {
        padding: 10px 0;
        font-size: 20px;
    }

    .sidenav .nav-item .nav-link.normal-side-link:after {
        top: 20px;
        right: 32%;
        width: 8px;
        height: 8px;
    }

    .sidenav .nav-item .nav-link.normal-side-link.active:after,
    .sidenav .nav-item .nav-link.normal-side-link:active:after {
        top: 20px;
        right: 32%;
        width: 8px;
        height: 8px;
    }

    .sidenav .closebtn,
    .sidenav .navbar-brand {
        top: 13px;
    }

    .sidenav .navbar-brand {
        left: 20px;
        margin-right: 50px;
    }

    .sidenav .navbar-brand img {
        height: 28px;
    }

    .sidenav .closebtn {
        right: 15px;
        font-size: 30px;
        margin-left: 50px;
    }
    /* END OF SIDE NAVIGATION */

    /* DOCSLIDER */
    .docSlider-pager {
        right: -15px;
    }

    .docSlider-button {
        height: 12px;
        width: 12px;
    }
    /* END OF DOCSLIDER */

    /* COVER */
    #cover {
        height: 100vh !important;
    }

    .cover-content.section-dimensions {
        margin: 15px;
        height: calc(100vh - 30px);
        width: calc(100vw - 30px);
    }

    .cover-content .col-xxl-6:first-child {
        padding: 20px;
    }

    .cover-content .col-xxl-6 .left-content {
        padding-left: 0;
        padding-top: 60px;
        padding-right: 0;
    }

    .cover-content .col-xxl-6 .left-content p.hello {
        font-size: 17px;
        margin-bottom: 0;
    }

    .cover-content .col-xxl-6 .left-content h1 {
        font-size: 30px;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    .cover-content .col-xxl-6 .left-content a.pronunciation {
        font-size: 16px;
        line-height: normal;
    }

    .cover-content .col-xxl-6 .left-content a.pronunciation i {
        font-size: 28px;
        padding-right: 10px;
    }

    .cover-content .col-xxl-6 .left-content h2 {
        font-size: 17px;
        line-height: 1.6;
        padding-top: 15px;
    }

    .cover-content .col-xxl-6 .left-content a.btn {
        font-size: 16px !important;
        padding: 9px;
    }

    .cover-content .col-xxl-6 .left-content a.btn::before,
    .cover-content .col-xxl-6 .left-content a.btn::after {
        width: 15px;
        height: 15px;
    }
    /* END OF COVER */

    /* WORK */
    #work.work, .work {
        min-height: 100%;
    }

    .work-content.section-dimensions {
        margin: 15px;
        min-height: calc(100% - 30px);
        height: auto;
        width: calc(100vw - 30px);
    }

    .work-content .col-xxl-6:first-child {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 85px;
        padding-bottom: 20px;
    }

    .work-content .col-xxl-6:last-child {
        padding-left: 0;
        padding-top: 10px;
        padding-right: 0;
        padding-bottom: 20px;
    }

    .work-content .col-xxl-6:first-child .container-fluid {
        padding: 0 !important;
    }

    .work-content .title,
    .work-content p {
        line-height: 1.5;
        text-align: justify;
    }

    .work-content .title {
        font-size: 23px;
        line-height: 1.4;
        text-align: justify;
    }

    .work-content p {
        font-size: 17px;
        padding: 0;
        font-weight: 300;
    }

    .work-content .col-xxl-6 a.btn {
        font-size: 16px;
    }

    .work-content .col-xxl-6:last-child .container-fluid {
        padding: 0 10px;
        width: 100%;
        height: 250px;
    }

    .work-content .header-img img {
        width: 100%;
        height: auto;
    }
    /* END OF WORK */



}
/*END OF MEDIA QUERIES*/